<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css")
        title Contact
    body
        header
            .menu-btn
                .btn-line
                .btn-line
                .btn-line
            nav(class="menu")
                .menu-branding
                    .portrait
                ul(class="menu-nav")
                    li.nav-item
                        a(href="index.html" class="nav-link") ホーム
                    li.nav-item
                        a(href="about.html" class="nav-link") 自己紹介
                    li.nav-item
                        a(href="work.html" class="nav-link") 作業
                    li(class="nav-item current")
                        a(href="contact.html" class="nav-link") 連絡先
        main(id="contact")
            h1.lg-heading 連絡 
                span(class="text-secondary") 先
            h2.sm-heading 連絡する方法：
                .boxes
                    div
                        span.text-secondary Email:
                        |dev@dreamcareer.co.jp
                    div
                        span.text-secondary 電話番号:
                        |090-9365-5980
                    div
                        span.text-secondary 住所:
                        |〒107-0062 東京都港区南青山2-27-27 丸八青山ビル3Ｆ
        footer(id="main-footer")
                Copyright &copy; 2019
        script(src="js/main.js")