<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css")
        title My Portfolio
    body(id="bg-img")
        #particle
        header
            .menu-btn
                .btn-line
                .btn-line
                .btn-line
            nav(class="menu")
                .menu-branding
                    .portrait
                ul(class="menu-nav")
                    li(class="nav-item current")
                        a(href="index.html" class="nav-link") ホーム
                    li.nav-item
                        a(href="about.html" class="nav-link") 自己紹介
                    li.nav-item
                        a(href="work.html" class="nav-link") 作業
                    li.nav-item
                        a(href="contact.html" class="nav-link") 連絡先
        main(id="home")
            h1.lg-heading Dev 
                span(class="text-secondary") Prasant
            h2.sm-heading ウェブ開発者、プログラマー、デザイナー @ 株式会社ドリームキャリア
            .icons
                a(href="https://www.facebook.com/ska8erkul")
                    i(class="fab fa-facebook fa-2x")
                a(href="https://github.com/kastokniv")
                    i(class="fab fa-github fa-2x")
                a(href="https://www.instagram.com/parreshant")
                    i(class="fab fa-instagram fa-2x")
                a(href="https://www.twitter.com/ska8erkul")    
                    i(class="fab fa-twitter fa-2x")
        script(src="js/main.js")
        script(src="js/particles.min.js")
        script(src="js/app.js")