<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css")
        title プロジェクト
    body(id="bg-img")
        header
            .menu-btn
                .btn-line
                .btn-line
                .btn-line
            nav(class="menu")
                .menu-branding
                    .portrait
                ul(class="menu-nav")
                    li.nav-item
                        a(href="index.html" class="nav-link") ホーム
                    li.nav-item
                        a(href="about.html" class="nav-link") 自己紹介
                    li(class="nav-item current")
                        a(href="work.html" class="nav-link") 作業
                    li.nav-item
                        a(href="contact.html" class="nav-link") 連絡先
        main(id="work")
            h1.lg-heading 仕事の 
                span(class="text-secondary") 美徳
            h2.sm-heading プロジェクト
            .projects
                .item
                    a(href="#!")
                        img(src="img/projects/cube.jpg" alt="Project")
                    a(href="#" class="btn-light")    
                        i(class="fas fe-eye") Cube
                .item
                    a(href="#!")
                        img(src="img/projects/matrix.jpg" alt="Project")
                    a(href="#" class="btn-light")    
                        i(class="fas fe-eye") Matrix
                .item
                    a(href="#!")
                        img(src="img/projects/loading.jpg" alt="Project")
                    a(href="#" class="btn-light")    
                        i(class="fas fe-eye") Loading
                .item
                    a(href="#!")
                        img(src="img/projects/gethelp.jpg" alt="Project")
                    a(href="#" class="btn-light")    
                        i(class="fas fe-eye") Get Help
                .item
                    a(href="#!")
                        img(src="img/projects/registration.jpg" alt="Project")
                    a(href="#" class="btn-light")    
                        i(class="fas fe-eye") Registration
                .item
                    a(href="#!")
                        img(src="img/projects/form.jpg" alt="Project")
                    a(href="#" class="btn-light")    
                        i(class="fas fe-eye") Form        
        footer(id="main-footer")
            Copyright &copy; 2019
        script(src="js/main.js")